root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[.git/*]
insert_final_newline = false
trim_trailing_whitespace = false

[*{.diff,.patch}]
insert_final_newline = false
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
indent_size = 4

[*.xml]
indent_size = 2
indent_style = space

[*.java]
indent_size = 4
indent_style = space

[*.puml]
indent_size = 4
indent_style = space

[TODO.tsv]
indent_style = tab
indent_size = 16
